@charset "utf-8";
/*公共类*/
body,dd,dl,form,ol,p,ul {
    margin: 0
}

ol,ul {
    padding: 0;
    list-style: none
}

body,html {
    color: #333
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.clear{
	clear: both;
}
/*头部*/
#M_PC_top_nav,#M_PC_top_nav_container {
    min-width: 1260px;
    background-color: #F8F8F8;
    height: 30px
}
#M_PC_top_nav_container {
    font-size: 12px;
    color: #666;
    line-height: 30px
}
#M_PC_top_nav_container .inner {
    width: 1200px;
    margin: 0 auto;
    text-align: right
}
#M_PC_top_nav_container .inner>ul>li.go-home a {
    border-right: 0
}

#M_PC_top_nav_container a {
    border-right: 1px dotted #ccc;
    padding: 0 18px;
    display: inline-block;
    height: 20px;
    line-height: 20px;
    cursor: pointer;
    color: #666;
    text-decoration: none
}

#M_PC_top_nav_container a:hover {
    color: #f36
}

#M_PC_top_nav_container .drop {
    position: relative;
    z-index: 600
}

#M_PC_top_nav_container .drop.cart-wrapper .down {
    left: -50%
}

#M_PC_top_nav_container .drop:hover .down {
    display: block
}

#M_PC_top_nav_container .nick {
    padding-left: 0
}

#M_PC_top_nav_container .nick .face {
    display: inline-block;
    vertical-align: middle;
    height: 19px;
    width: 19px;
    border-radius: 9px;
    padding-right: 2px
}
#M_PC_top_nav_container i {
    display: inline-block;
    width: 18px;
    height: 16px;
    vertical-align: sub;
    margin-right: 7px;
}
#M_PC_top_nav_container em {
    display: inline-block;
    width: 18px;
    height: 16px;
    vertical-align: sub;
    margin-right: 7px;
    background: url(https://s10.mogucdn.com/p1/160726/idid_ifrtemrqgi4tazlghezdambqhayde_241x16.png) no-repeat
}

#M_PC_top_nav_container em.arrow {
    width: 6px;
    margin-left: 10px;
    background-position: -180px 0
}

#M_PC_top_nav_container em.home {
    background-position: 0 0
}

#M_PC_top_nav_container em.collect{
    background-position: -76px 0
}

#M_PC_top_nav_container em.cart {
    background-position: -102px 0
}

#M_PC_top_nav_container em.order {
    background-position: -130px 0
}
#M_PC_top_nav_container em.del-cart-goods {
    margin-left: 24px;
    background-position: -152px 0;
    cursor: pointer
}

#M_PC_top_nav_container .down {
    position: absolute;
    top: 30px;
    z-index: 999;
    background-color: #F8F8F8;
    padding: 8px 0;
    border: 1px solid #eee;
    line-height: 20px;
    display: none;
    margin-left: 11px
}

#M_PC_top_nav_container .down li {
    text-align: left
}

#M_PC_top_nav_container .down a {
    margin-bottom: 3px;
    border: none
}